.doctor-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 244, 244); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.login-doc-div {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-doc-header {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: var(--red-primary); /* Red color for doctor login */
    margin-bottom: 20px;
}

.login-doc-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--card-background);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.login-doc-form label {
    font-size: 16px;
    color: var(--text-primary);
}

.login-doc-form input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--red-primary);
    border-radius: 5px;
    outline: none;
}

.login-doc-button {
    background-color: var(--red-primary);
    color: var(--background-color);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.login-doc-button:hover {
    background-color: var(--red-light);
}


:root {
    --red-primary: #ff3b3b;
    --red-light: #ff6666;  
}
